/* Mobile screens version 320px x 480px */

/* Variables */

$font-one: 'Orbitron', sans-serif;
$font-two: 'Press Start 2P', sans-serif;

$color-one: rgb(240, 240, 104);
$color-two: rgb(130, 240, 130);
$color-three: rgb(0, 0, 0);
$color-four: rgb(253, 116, 37);

$transition: 0.5s all;

/* Styles */

/* Global */ 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    font-family: $font-one;
    color: $color-two;
}
  
  .container {
    max-width: 1148px;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
section {
    padding: 0px;
}

/* Description */

.description {
    width: 100%;
    background-color: $color-three;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .description-inner {
        width: 308px;
        margin: 0px;
        padding-top: 22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        h2 {
            width: 100%;
            font-size: 18px;
            margin: 0px;
            text-align: center;
        }

        h2:nth-of-type(2) {
            font-size: 16px;
        }


        h2:nth-of-type(3) {
            font-size: 14px;
        }


        h2:nth-of-type(4) {
            font-size: 12px;
        }
    
        p {
            width: 100%;
            text-align: center;
            margin: 22px;
        }
    
        a:first-of-type {
            width: auto;
            text-decoration: none;
            color: $color-two;
            border: 2px solid $color-two;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            margin: 0px;
            margin-bottom: 22px;
        }

        a:first-of-type:hover {
            cursor: pointer;
            color: $color-one;
            border: 2px solid $color-one;
        }

        a:first-of-type:active {
            color: $color-four;
            border: 2px solid $color-four;
        }

        a:last-of-type {
            width: 98px;
            height: 98px;
            border-radius: 50%;
            background-color: $color-two;
            border: none;
            color: $color-three;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: $transition;
    
            i:first-of-type {
                width: 100%;
                text-align: center;
                font-size: 56px;
                display: none;
            }
            
            i:last-of-type {
                width: 100%;
                font-size: 16px;
                font-family: $font-two;
                text-align: center;
            }
        }
    
        a:last-of-type:hover {
            cursor: pointer;
            transform: rotate(720deg);
            background-color: $color-one;
        }


        a:last-of-type:active {
            background-color: $color-four;
        }

        a:last-of-type:hover i:first-of-type {
            display: block;
        }

        a:last-of-type:hover i:last-of-type {
            display: none;
        }
    }
}

/* Game */

.game {
    background-color:  $color-three;

    .game-inner {
        width: 320px;
        margin-top: 22px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 6px;

            button {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 98px;
                width: 98px;
                background-color: $color-two;
                color: $color-three;
                font-family: $font-two;
                border: none;
                border-radius: 5%;
                text-decoration: none;

                i:first-of-type {
                    width: 100%;
                    font-size: 72px;
                    text-align: center;
                }
                    
                i:last-of-type {
                    width: 100%;
                    font-size: 10px;
                    font-family: $font-two;
                        text-align: center;
                }
            }

            button:last-of-type {
                width: 308px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 32px;
                background-color: $color-two;
                color: $color-three;
                font-family: $font-two;
                border: none;
                border-radius: 5%;
                text-decoration: none;
                
                i {
                    width: auto;
                    font-size: 10px;
                    font-family: $font-two;
                    text-align: center;
                }
            }
            
            button:hover {
                cursor: pointer;
                background-color: $color-one;
            }

            button:active {
                background-color: $color-four;
            }
        }

        .results {
            width: 308px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 6px;

            h4 {
                text-align: center;
                margin-bottom: 0px;
                font-weight: 100;
                border: 2px solid $color-two;
                margin: 0px;
                padding: 8px;
                border-bottom: none;
            }

            .results-inner {
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 160px;
                border: 2px solid $color-two;
                text-align: center;
            }
        }

        .back {
            width: 308px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a:first-of-type {
                display: flex;
                flex-direction: row;
                gap: 8px;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                color: $color-two;
                text-decoration: none;
                padding: 8px;
                width: 100%;
                margin: 6px auto;
                border: 2px solid $color-two;

                i:first-of-type {
                    width: auto;
                    font-size: 18px;
                    text-align: right;
                }
                    
                i:last-of-type {
                    width: auto;
                    font-size: 14px;
                    font-family: $font-one;
                    text-align: left;
                }
            }

            a:first-of-type:hover {
                color: $color-one;
                border: 2px solid $color-one;
            }

            a:first-of-type:active {
                color: $color-four;
                border: 2px solid $color-four;
            }

            p {
                text-align: center;
            }

            a:last-of-type {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                margin: 0px;

                i {
                    font-size: 14px;
                    text-align: center;
                    color: $color-two;
                    padding: 4px;
                }

                i:first-of-type {
                    font-size: 28px;
                }
            }

            a:last-of-type:hover i {
            cursor: pointer;
            color: $color-one;
            }

            a:last-of-type:active i {
                color: $color-four;
            }
        }
    }
}